.paypal-roles-memberships-form .form-item { padding: 0px; margin: 0px; }

.paypal-roles-memberships-form .length-container { display: block; padding: 9px 0 5px 0; margin: 0px; }
.paypal-roles-memberships-form .length-container label,
.paypal-roles-memberships-form .length-container .description { display: block; }
.paypal-roles-memberships-form .length-container .form-item-force-onetime { padding-left: 10px; }
.paypal-roles-memberships-form .length-container .form-item-force-onetime label { display: inline-block; }
.paypal-roles-memberships-form .length-container div.description { margin-left: 0px; }

.paypal-roles-memberships-form .trial-length-container { display: block; padding: 9px 0 5px 0; margin: 0px; }
.paypal-roles-memberships-form .trial-length-container label,
.paypal-roles-memberships-form .trial-length-container .description { display: block; }

.paypal-roles-memberships-form .discount-container { display: block; padding: 5px 0 9px 0; margin: 0px; }
.paypal-roles-memberships-form .discount-container label,
.paypal-roles-memberships-form .discount-container .description { display: block; }

.paypal-roles-memberships-form .amount-container { display: block; padding: 0 0 5px 0; margin: 0px; }
.paypal-roles-memberships-form .amount-container label,
.paypal-roles-memberships-form .amount-container .description { display: block; }

.paypal-roles-custom-payments-form .length-container { display: block; padding: 9px 0 5px 0; margin: 0px; }
.paypal-roles-custom-payments-form .length-container label,
.paypal-roles-custom-payments-form .length-container .description { display: block; }

.paypal-roles-custom-payments-form .amount-container { display: block; padding: 0 0 5px 0; margin: 0px; }
.paypal-roles-custom-payments-form .amount-container label,
.paypal-roles-custom-payments-form .amount-container .description { display: block; }
.paypal-roles-custom-payments-form .container-inline-date .date-padding { padding: 0px; }

.view-custom-payments .view-header { text-align: right; font-weight: bold; }
.view-custom-payments input.form-text { width: 150px; }
.view-custom-payments .description { display: none; }

.view-subscriptions .view-header { text-align: right; font-weight: bold; }
.view-subscriptions input.form-text { width: 150px; }
.view-subscriptions .description { display: none; }

.view-memberships .view-header { text-align: right; font-weight: bold; }
.view-memberships input.form-text { width: 150px; }
.view-memberships .description { display: none; }

.view-payments .view-header { text-align: right; font-weight: bold; }
.view-payments input.form-text { width: 150px; }
.view-payments .description { display: none; }
