.content-wrapper{
	margin-top: 40px;
}
.mar-30-h{
 	margin: 30px 0;
}
.mar-top10 {
	margin: 10px;
}
.mar-top20 {
    margin: 20px 0;
}
.mar-bot50 {
	margin-bottom: 50px;
}
.air-card{
    background: #fff;
    padding: 21px;
    border-radius : 5px;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
}

.user-profile-bnr{min-height: 200px;}
.tabs--primary{margin-bottom: 0px !important}
.tab-wrapper{margin-top: 25px;}
.user-profile-bnr .nav-tabs{
	border : 0px;
}
.profile-main h3, h3.sub-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-main h3{
  padding: 30px;
}
.about-me{
    margin-bottom: 20px
}
.listing-new-style{
    padding-bottom: 30px;
}
.edit-btn{
    margin-left: 15px;
    margin-top: 16px;
}
/*.btn-text{
    padding: 10px;
}*/
.compny-profile .profile-company-content{
    padding: 0;
}
.client-description{
    margin-left: -66px;
}
